modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
NEXT_PUBLIC_WXO_HOST_URL = "https://api.us-south.watson-orchestrate.cloud.ibm.com/instances/c8a9d776-460e-4c9a-b55f-0a2556febf8e"
NEXT_PUBLIC_WXO_DEPLOYMENT_PLATFORM = "ibmcloud"
NEXT_PUBLIC_WXO_ORCHESTRATION_ID = "f459230554db416db8c23a3534ec4e8b_c8a9d776-460e-4c9a-b55f-0a2556febf8e"
NEXT_PUBLIC_WXO_AGENT_ID = "c246e4a4-dd47-431a-8c9c-8056174e5afb"
NEXT_PUBLIC_WXO_CRN = "crn:v1:bluemix:public:watsonx-orchestrate:us-south:a/f459230554db416db8c23a3534ec4e8b:c8a9d776-460e-4c9a-b55f-0a2556febf8e::"
NEXT_PUBLIC_WXO_AGENT_ENVIRONMENT_ID = "633f7088-497f-457c-be2e-7add21efb7e5"
SNOWFLAKE_DATABASE = "HOOS_GAMING"
SNOWFLAKE_SCHEMA = "ANALYTICS"
SNOWFLAKE_WAREHOUSE = "COMPUTE_WH"
AUTH0_BASE_URL = "https://7d2bf76f-babf-4b28-84a0-f6e30e738ec9-00-3rkciryt92v1r.spock.replit.dev"
NEXT_PUBLIC_AUTH0_BASE_URL = "https://7d2bf76f-babf-4b28-84a0-f6e30e738ec9-00-3rkciryt92v1r.spock.replit.dev"
NEXT_PUBLIC_SOLANA_NETWORK = "devnet"
NEXT_PUBLIC_SOLANA_WALLET_PUBKEY = "8BgC9yewyzMY8zs8ivbDGWVnTHkKsasMDngvKu3e3iVR"
